<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= landscape.image%>" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"><%= landscape.name %><br><%= landscape.location%></h4>
    <p class="card-text"><%= landscape.description%></p>
  </div>
</div>

<a href="/landscapes/<%= landscape.id %>/edit ">EDIT</a>
<form method="POST" action="/landscapes/<%= landscape.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button name="button">delete</button>
</form>
